<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/bank.css">        <!-- already in public directory set in app.js -->
    <title>Bank Payment</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <h1><span>T</span>he <span>S</span>parks <span>B</span>ank<span>.</span></h1>
        </div>
        <div class="menu"> 
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="customers">View all customers</a></li>
            </ul>
        </div>
    </div>

    <div class="main">
        <img class="one" src="/img/monneyTree.jpg">
        
            <div class="options">
                <a href="transfer"><input type="button" value="Transfer Now"></a>
                <a href="history"><input type="button" value="Transaction History"></a>
            </div>
    </div>

</body>
</html>